.input {
  border-radius: 8px;
  border: 2px solid lightgray;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 100%;

  &:focus,
  &:focus-visible {
    border-color: #3399ff;
    box-shadow: 0 0 0 3px #b6daff;
    outline: none;
  }

  &:hover {
    border-color: #3399ff;
  }

  &--file {
    color: transparent;
    width: 150px;
    background-color: #3963cc;
    padding-left: 30px;
    cursor: pointer;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &::before {
      content: "Upload File";
      color: white;
      font-size: 1rem;
    }
  }

  &--error {
    border-color: red;
  }
}
