.album {
  background-color: #faf5f3;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    width: 100%;

    input {
      float: right;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
  }
}
