.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-color: lightgray;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;

  &__icons {
    display: flex;
    gap: 2px;
    color: black;
    .dot-1 {
      animation: op1 0.25s infinite;
    }
    .dot-2 {
      animation: op1 0.35s infinite;
    }
    .dot-3 {
      animation: op1 0.45s infinite;
    }
    .dot-4 {
      animation: op1 0.55s infinite;
    }
    @keyframes op1 {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
