@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

p,
span {
  margin: 0;
}

.accordion {
  margin: 10px auto;
  border: 1px solid lightgray;
  height: fit-content;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    .left-header {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0px;
    overflow: hidden;

    &--expanded {
      height: auto;
      margin: 10px;
    }
  }
}

button {
  border: none;
  background-color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 5px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
  }
}
